<div class="fullscreen-bg">
    <video autoplay loop muted poster="https://s-media-cache-ak0.pinimg.com/originals/e0/f5/a5/e0f5a5f8c2e378df4fddd75e26e9a5a3.gif" class="js-live-feed">
        <source src="" type="video/mp4">
    </video>
</div>

<div class="the-entire-page"></div>


<div class="container-fluid">
	<p class="logo"> BarCrawler </p>


	<h1 class="js-bar-name">This'll only take a second</h1>



<div class = " col-xs-3 favorites-list">
	 <button class="js-favorites-button" id="heart-button">
  <span class="glyphicon glyphicon-heart"></span>
</button>
   
  <ul class="js-favorites" id="favorites-list"></ul>
</div>



				<div class="col-xs-1 button-column">
					<br>
					<button class="js-nope btn-danger buttons"> 
						<span class="glyphicon glyphicon-thumbs-down"></span>
					</button> 

				</div>

				<div class="col-xs-4">
					</div>


				<div class="col-xs-1 button-column">
					<br>
					<button class="js-maybe btn-primary buttons">
						<span class="glyphicon glyphicon-thumbs-up"></span>
					</button>
				</div>




				<div class = "col-xs-3">
					<button class="js-help-button help-button">?</button>


					<div class="modal fade js-help-modal" tabindex="-1" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close modal-x" data-dismiss="modal" aria-label="Close"><span class="modal-x" aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title">How To Use This App</h4>
					      </div>
					      <div class="modal-body">
					        <p>
					        	Welcome to Barcrawler!<br><br>
					        	Deciding which bar to go to can be a tough choice. But don't worry - we're here to help.
					        	<br><br>
					        	We show you live video feeds of bars in your area so you can see for yourself what's going on inside. <br><br>
					        	At the top of the page, you see the name of the bar, and in the background, you can see what's happening there right now. 
					        	<br><br>
					        	If you don't like what you see, click the thumbs-down button to check out a different place.<br><br>
					        	If you do like what you see, click the thumbs-up button and the venue will be saved to your list.<br><br>
					        	Click the heart icon in the upper left corner to show/hide your list of upvoted bars.  Click any bar name in the list to take another look.<br><br>
					        	Click on the globe button in the bottom right corner to see where the bar you're looking at is located.<br><br>
					        	That's pretty much it. Only you can decide what you do once you get there.<br><br>
					        	Happy Crawling!
					        </p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-got-it" data-dismiss="modal">
					        	<span class="glyphicon glyphicon-thumbs-up glyph-got-it"></span>
					        	Got it
					        </button>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					<!-- <div id="googleMap" style="width:300px;height:380px;"></div> -->

					<div id="map" style="width: 300px; height: 400px;"></div>




					<button class="js-map-button map-button">
						<img src="assets/world-location.png" class="globe-icon">
					</button>


				</div>  <!-- col-xs-3 -->
		

</div>
